[Desktop Entry]
Type=Application
Name=PDFMerger
Comment=PDF Merge Tool
Exec=sh -c "cd \"$(dirname %k)\" && ./PDFMerger"
Icon=icon.png
Terminal=false
StartupWMClass=PDFMerger
