[Desktop Entry]
Type=Application
Name=PDFMerger
Comment=PDF 合并工具
Exec=sh -c "cd \"$(dirname %k)\" && ./PDFMerger"
Icon=icon.png
Terminal=false
StartupWMClass=PDFMerger
